* {
	outline: 1px solid red;
}

html {
	font-size: 100%;
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 16px;
}

// Desktop Layout

.wrapper {
	width: 100vw;
	height: 100vh;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	background-color: lightgreen;

	&__inner {
		width: 1440px;
		height: 800px;
	}
}



// Mobile Layout

@media only screen and (max-width: 1440px) {

	.wrapper {
		background-color: lightblue;

		&__inner {
			width: 375px;
			height: 800px;
		}
	}
}