* {
	outline: 1px solid red;
}

html {
	font-size: 100%;
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 16px;
}

.wrapper {
	width: 100vw;
	height: 100vh;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	background-color: lightgreen;

	&__inner {
		width: 1440px;
		height: 800px;
	}
}


.content {
	width: 100%;
	height: 100%;

	display: grid;
	grid-template-columns: 60% 40%;
	grid-template-rows: 1fr;display: grid;

	&__info {
		width: 100%;
		height: 100%;

		background-color: white;
	}

	&__hero {
		// width: 100%;
		// height: 100%;

		background-image: url('/src/images/hero-mobile.jpg');
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
	}
}










@media only screen and (max-width: 1440px) {
	/* Mobile layout */

	.wrapper {
		background-color: lightblue;

		&__inner {
			width: 375px;
			height: 800px;
		}
	}
}